* {
  padding: 0;
  margin: 0;
}


.navbar-light,
.footer-light,
.bg-light {
  background-color: lightblue !important;
}

.row {
  margin: auto 0;
  padding: 0;
}

.right {
  text-align: right;
}

.navbar-expand-md,
.navbar-expand-lg,
footer {
  width: 100%;
  min-height: 15vh;
  font-size: 1.5rem;
  font-family: "Permanent Marker", cursive;
}

.navbar-brand {
  font-size: 2.5rem;
}

main {
  background-color: black;
  min-height: 70vh;
  display: flex;
}

.image-div {
  align-self: flex-end;
}

img {
  margin: 5%;
  max-width: 90%;
  max-height: 90%;
}

.quote-div {
  padding: 10%;
  text-align: center;
  color: whitesmoke;
  font-family: "Homemade Apple", cursive;
}

.motivational-quote {
  font-size: 1.5em
}

.footer-icon {
  font-size: 2em;
}

.about-div {
  font-family: "Homemade Apple", cursive;
  color: whitesmoke;
  font-size: 1.5rem;
}

h2,
.author {
  font-family: "Permanent Marker", cursive;
}





@media only screen and (min-width: 768px) {
  .index-main {
    flex-direction: row-reverse;
  }
  .motivational-quote {
    font-size: 2.5rem;
  }
  .author {
    font-size: 1.5em
  }
}


@media only screen and (min-width: 992px) {
  .motivational-quote {
    font-size: 3.5rem;
  }
  .author {
    font-size: 2.5em
  }
}

@media only screen and (min-width: 1200px) {
  .motivational-quote {
    font-size: 4rem;
  }
  .author {
    font-size: 3em
  }
}
